<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3 panel-primary">
     <div class="panel-heading">INFO CENTER</div>
     <div class="statements panel-body">
              <p><h2>Definition of Child</h2>
<h3>Child</h3>
<p>Anyone age 18 or under
and are supported with
the household’s income;
or in your care under a
foster arrangement, or
qualify as homeless,
migrant, or runaway
youth; or students
attending high school
grade or under,
regardless of age.</p>
    </div>
  </div>

  <div class="col-xs-9 panel-primary">
    <div class="panel-heading">ADD A CHILD HOUSEHOLD MEMBER</div>
    <div class="panel-body">

      <div class="container">
        <form role="form" ng-submit="createChild(child)">

          <h5>Child's Information (required)</h5>

          <div class="form-group spacing firstRow">
           <label for="firstname">First Name</label><br>
           <input type="text" ng-model="child.firstname" id="firstname" class="form-control">
         </div>

         <div class="form-group spacing firstRow">
          <label for="lastname">Last Name</label><br>
          <input type="text" ng-model="child.lastname" id="lastname" class="form-control">
        </div>

        <br>
        <div class="form-group spacing firstRow">
         <label for="age">Age</label><br>
         <select class="form-control" ng-model="child.age" name="age">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
        </select>
      </div>

      <div class="form-group spacing">
        <label for="student">Student</label><br>
        <select ng-model="child.student" class="form-control" name="student">
         <option value="yes">Yes</option>
         <option value="no">No</option>
       </select>
     </div>

     <br>
     <br>

    <div class="row">

      <div class=" col-md-3 form-group spacing firstRow">
          <label for="childstatus">Child Status</label><br>
           <select ng-model="child.status" class="form-control" name="student">
          <div class="checkbox">
           <label><option  type="checkbox" value="Foster Child">Foster Child</option></label>
         </div>
         <div class="checkbox">
           <label><option type="checkbox" value="Head Start">Head Start</option></label>
         </div>
         <div class="checkbox">
           <label><option type="checkbox" value="Homeless">Homeless</option></label>
         </div>
         <div class="checkbox">
           <label><option type="checkbox" value="Runaway">Runaway</option></label>
         </div>
         <div class="checkbox">
           <label><option type="checkbox" value="Migrant">Migrant</option></label>
         </div>
         </select>
     </div>

     <div class="col-md-3 form-group spacing firstRow">
          <label for="ethnicity">Ethnicity (Optional)</label><br>
           <select ng-model="child.ethnicity" class="form-control" name="child">
          <div class="checkbox">
           <label><option type="checkbox" value="H/L">Hispanic or Latino</option></label>
         </div>
         <div class="checkbox">
           <label><option type="checkbox" value="NOT H/L">Not Hispanic or Latino</option></label>
         </div>
         </select>
   </div>

   <div class="col-md-3 form-group spacing firstRow">
          <label for="race">Race (Optional)</label><br>
           <select ng-model="child.race" class="form-control" name="student">
          <div class="checkbox">
           <label><option type="checkbox" value="AIAN">American Indian of Alaskan Native</option></label>
         </div>
         <div class="checkbox">
           <label><option type="checkbox" value="AS">Asian</option></label>
         </div>
         <div class="checkbox">
           <label><option type="checkbox" value="B/AA">Black or African American</option></label>
         </div>
         <div class="checkbox">
           <label><option type="checkbox" value="NH/PI">Native Hawaiian or Other Pacific Island</option>/label>
         </div>
         <div class="checkbox">
           <label><option type="checkbox" value="W">White</option></label>
   </div>
   </select>
 </div>
</div>
</div> 


<!--Page Buttons-->
<div class="form-group row">
  <div class="inline-block">
    <div class="clearfix"> 
      <div class="btn-group inline pull-right" data-toggle="buttons-checkbox">
        <a ui-sref="form.childrenInHousehold1" class="btn btn-primary">
        
          Back
        </a>
        <button class="btn btn-primary" ng-click="createChild(child)">
         Submit
       </button>
     </div>
   </div>
 </div>
</div>

</form>


