<div class="container-fluid">
  <div class="row">
    <!--Info Panel-->
    <div class="col-xs-3 panel-primary">
     <div class="panel-heading">INFO CENTER</div>
     <div class="panel-body">
      <p>Click ￼ icons to get more information!</p>
    </div>
  </div>

  <div class="col-xs-9 panel-primary">
    <div class="panel-heading">ASSISTANCE PROGRAMS</div>
    <div class="panel-body">
  

      <form role="form" ng-submit="hasBenefits(benefit)">
        <h5>Does anyone in your household participate in one or more of the following assistance programs ? Check all that apply.</h5>
        <div class="chkContainer">
          <div class="checkbox">
            <label for="snap">
              <input type="checkbox" ng-model="benefit1" name="snap" value="snap" id="snap"> SNAP<br>
            </label>
          </div>
          <div class="checkbox">
            <label for="fdpir">
              <input type="checkbox" ng-model="benefit2" name="fdpir" value="fdpir" id="fdpir"> FDPIR<br>
            </label>
          </div>
          <div class="checkbox">
            <label for="tanf">
              <input type="checkbox" ng-model="benefit3" name="tanf" value="tanf" id="tanf"> TANF<br>
            </label>
          </div>
          <div class="checkbox">
            <label for="none">
              <input type="checkbox" ng-model="data.none" name="none" value="none" id="none"> NONE<br>
            </label>
          </div>
        </div>
        



        <form role="form" ng-submit="addCaseNumber(casenumber)">
          <h5>Please enter the case number of just ONE of your assistance program benefits.</h5>
          <div class="form-group spacing" id="daytime">
            <label for="phone">CASE NUMBER</label>
            <input type="phone" ng-model="casenumber.casenumber" class="form-control" id="caseNumber">
          </div>
          

          <div class="form-group row">
            <div class="inline-block">
              <div class="clearfix"> 
                <div class="btn-group inline pull-right" data-toggle="buttons-checkbox">

                  <a ng-click="step3()" ui-sref="form.adultContactInfo2" class="btn btn-primary btn-lg">

                    Back
                  </a>
                  <button ng-click="step5(); addCaseNumber(casenumber); hasBenefits(benefit)" class="btn btn-primary btn-lg">
                   Continue
                 </button>

               </div>
             </div>
           </div>
         </div>
         </form>
         </form>
  
    
   </div>
 </div>
</div>
</div>


