<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3 panel-primary">
     <div class="panel-heading">INFO CENTER</div>
      <div class="statements panel-body">
   
<h3>Household members</h3>
<p>Anyone who is living with
you and shares income and
expenses, even if not
related, and even if they do
not have income of their
own.
This does not include people
who live in the household,
but are not supported by
the household’s income and
do not contribute income to
your household.</p>
      </div>
    </div>

    <div class="col-xs-9 panel-primary">
      <div class="panel-heading">CHILDREN IN HOUSEHOLD</div>
      <div class="panel-body">
<center>
<p ng-hide="children">No child household members currently added yet!</p>
<p>The following children have been added to the household</p>
<div class="col-md-10-offset-1">
<table style="width:100%">
  <tr>
    <th>NAME OF CHILD</th>
    <th>STUDENT ?</th>    
    <th>AGE</th>
    <th>ETHNICITY</th>
    <th>STATUS</th>
  </tr>
  <tr ng-repeat="child in children">
    <td>{{child.firstname}} {{child.lastname}}</td>
    <td>{{child.student}}</td>    
    <td>{{child.age}}</td>
    <td>{{child.ethnicity}}</td>
    <td>{{child.status}}</td>
    <td><a ui-sref="form.child-edit()"><button class="btn btn-primary btn-sm">Edit</button></a></td>
    <td><button class="btn btn-primary btn-sm" ng-click="deleteChild(child)">Delete</button></td>
  </tr>
 
</table>
</div>







<a ui-sref="form.child-new"><button class="btn btn-primary btn-md">Add Child</button></a>
</center>

<div class="form-group row">
<div class="inline-block">
    <div class="clearfix"> 
      <div class="btn-group inline pull-right" data-toggle="buttons-checkbox">
        <a ng-click="step5()" ui-sref="form.childStatus2" class="btn btn-primary btn-lg">
      
      Back
      </a>

  <!--     <a ui-sref="#" class="btn btn-primary btn-lg">
      Save
      </a> -->
      <a ng-click="step7()" ui-sref="form.adultsInHousehold1" class="btn btn-primary btn-lg">
      Continue
      </a>
    </div>
  </div>
  </div>
</div>

  </div>
      </div>
    </div>
  </div>