<h1>Assistance Program 2</h1>

Does anyone in your household participate in one or more of the following assistance programs ? Check all that apply.
SNAP FDPIR TANF None
Please enter the case number of just ONE of your assistance program benefits.
CASE NUMBER

<div class="form-group row">
<div class="inline-block">
    <div class="clearfix"> 
      <div class="btn-group inline pull-right" data-toggle="buttons-checkbox">

      <a ui-sref="#" class="btn btn-info">
      Save<span class="glyphicon glyphicon glyphicon-save"></span>
      </a>
      <a ui-sref="form.childStatus1" class="btn btn-info">
      Continue<span class="glyphicon glyphicon-circle-arrow-right"></span>
      </a>
    </div>
  </div>
  </div>
</div>