<h1>Children in Household 4</h1>
The following children have been added to the household
NAME OF CHILD
John Smith Joan Smith
STUDENT? AGE
Yes 12 No 2
ETHINICITY
Hispanic Hispanic
STATUS
Foster, Head Start Foster
Edit Edit
X Remove X Remove


<div class="form-group row">
<div class="inline-block">
    <div class="clearfix"> 
      <div class="btn-group inline pull-right" data-toggle="buttons-checkbox">

      <a ui-sref="#" class="btn btn-info">
      Save<span class="glyphicon glyphicon glyphicon-save"></span>
      </a>
      <a ui-sref="form.childrenInHousehold5" class="btn btn-info">
      Continue<span class="glyphicon glyphicon-circle-arrow-right"></span>
      </a>
    </div>
  </div>
  </div>
</div>