<h1>Children in Household 2</h1>
ADD A CHILD HOUSEHOLD MEMBER
Child’s Information (required)
FIRST NAME
Child’s Status
CHECK ALL THAT APPLY
Foster Child Runaway
LAST NAME
AGE
STUDENT?


<div class="form-group row">
<div class="inline-block">
    <div class="clearfix"> 
      <div class="btn-group inline pull-right" data-toggle="buttons-checkbox">

        <a ui-sref="form.childrenInHousehold1" class="btn btn-info">
      <span class="glyphicon glyphicon glyphicon-backward"></span>
      Back
      </a>

      <a ui-sref="#" class="btn btn-info">
      Save<span class="glyphicon glyphicon glyphicon-save"></span>
      </a>
      <a ui-sref="form.childrenInHousehold3" class="btn btn-info">
      Continue<span class="glyphicon glyphicon-forward"></span>
      </a>
    </div>
  </div>
  </div>
</div>