 <nav class="navbar navbar-primary navbar-fixed-top" ng-controller="NavCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">USDA Free & Reduced Lunch Application</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Hi {{ currentUser.username | uppercase }}</a></li>
      <li><a href="#"><span></span> Help</a></li>
       <li><a ui-sref-active="active" ng-click="logout()">Logout</a></li>
    </ul>
  </div>

<!--Conatiner begins-->
 
    <div class="progress">
      <div class="progress-bar myWizard progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="8" style="{{widthbar}}">
        {{step}}
      </div>
    </div>
   
    <div class="navbar">
       <div class="navbar-inner">
             <ul class="nav nav-pills">
                <li ng-click="step1()"><a ui-sref-active="active" ui-sref="form.welcome" class="one blocks">Welcome</a></li>
                <li ng-click="step2()"><a ui-sref-active="active" ui-sref="form.statements" class="two blocks">Statements</a></li>
                <li ng-click="step3()"><a ui-sref-active="active" ui-sref="form.adultContactInfo1" class="three blocks">Adult Contact Info</a></li>
                <li ng-click="step4()"><a ui-sref-active="active" ui-sref="form.assistanceProgram1" class="four blocks">Assistant <br>Programs</a></li>
               <!--    <li ng-click="step1()"><a ui-sref-active="active" ui-sref="form.assistanceProgram2"><span class="navCircle"></span></a></li> -->
                <li ng-click="step5()"><a ui-sref-active="active" ui-sref="form.childStatus1" class="five blocks">Status of <br>Children</a></li>
               <!--  <li ng-click="step1()"><a ui-sref-active="active" ui-sref="form.childStatus2"></a></li> -->
                <li ng-click="step6()"><a ui-sref-active="active" ui-sref="form.childrenInHousehold1" class="six blocks">Children in <br>Household</a></li>
                <li ng-click="step7()"><a ui-sref-active="active" ui-sref="form.adultsInHousehold1" class="seven blocks">Adults in <br>Household</a></li>
                <li ng-click="step8()"><a ui-sref-active="active" ui-sref="form.income1" class="eight blocks">Income</a></li>
                <li ng-click="step9()"><a ui-sref-active="active" ui-sref="form.review" class="nine blocks">Review</a></li>
             </ul>
       </div>
    </div>
    </nav>

   



        <div id="form-views" ui-view></div>
 </div>
        
    


