<h1>Assistance Program 1</h1>

Does anyone in your household participate in one or more of the following assistance programs ? Check all that apply.
<!-- SNAP FDPIR TANF None -->
<form action="demo_form.asp" method="get">
  <input type="checkbox" name="snap" value="snap"> SNAP<br>
  <input type="checkbox" name="fdpir" value="fdpir"> FDPIR<br>
  <input type="checkbox" name="tanf" value="tanf"> TANF<br>
  <input type="checkbox" name="none" value="none"> NONE<br>
  <input type="submit" value="Submit">
</form>

Please enter the case number of just ONE of your assistance program benefits.
CASE NUMBER
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">case number</span>
  <input type="text" class="form-control" placeholder="Case Number" aria-describedby="basic-addon1" name="casenumber">
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    Option one is this and that&mdash;be sure to include why it's great
  </label>
</div>
<div class="checkbox disabled">
  <label>
    <input type="checkbox" value="" disabled>
    Option two is disabled
  </label>
</div>


<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.assistanceProgram2" class="btn btn-block btn-info">
   Continue<span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div> 