<h1>Income 1</h1>
<h2>Child Income</h2>
<p>Sometimes a child in the household can earn an income. If any children in the household earn income, please report the TOTAL income earned by all children in the household</p>

<table style="width:100%">
  <tr>
    <th>CHILDREN IN HOUSEHOLD</th>
    <th>TOTAL INCOME REPORTED FOR ALL CHILDREN IN HOUSEHOLD</th>		
    <th>FREQUENCY</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>		
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>		
    <td>94</td>
  </tr>
  <tr>
    <td>John</td>
    <td>Doe</td>		
    <td>80</td>
  </tr>
</table>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
</div> 
    <a ui-sref="form.income2" class="btn btn-block btn-info">
   Continue<span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div> 