<h1>Children in Household 3</h1>


<p>
We are required to ask for information about your children’s race and ethnicity. This information is important and helps to make sure we are fully
+ Add a child household member
serving our community. Responding to this section is optional and does not affect your children’s eligibility for free or reduced price meals.
￼ETHINICITY (check one)
Hispanic Not Hispanic or or Latino Latino
RACE (check one or more)
American Indian of Alaskan Native
Native Hawaiian or Other Pacific Island
Asian White
Black or African American
</p>


<div class="form-group row">
<div class="inline-block">
    <div class="clearfix"> 
      <div class="btn-group inline pull-right" data-toggle="buttons-checkbox">

      <a ui-sref="#" class="btn btn-info">
      Save<span class="glyphicon glyphicon glyphicon-save"></span>
      </a>
      <a ui-sref="form.childrenInHousehold4" class="btn btn-info">
      Continue<span class="glyphicon glyphicon-circle-arrow-right"></span>
      </a>
    </div>
  </div>
  </div>
</div>




