<h1>Adult Info 2</h1>

Signature of Adult Completing Application (required)
The person signing is furnishing true information and to advise that person that the application is being made in connection with the receipt of Federal funds; School officials may verify the information on the application; Deliberate misrepresentation of the information may subject the applicant to prosecution under State and Federal statutes.
ENTER NAME (e-signature) TODAY’S DATE
￼
<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.assistanceProgram1" class="btn btn-block btn-info">
   Continue<span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Date</span>
      <input type="date" class="form-control" placeholder="date" aria-describedby="basic-addon1" name="">
    </div>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">High</span>
      <textarea type="text" class="form-control" placeholder="high-point" aria-describedby="basic-addon1" name="post"></textarea>
    </div>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Low</span>
      <textarea type="text" class="form-control" placeholder="low-point" aria-describedby="basic-addon1" name="post"></textarea>
    </div>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Improvements</span>
      <input type="text" class="form-control" placeholder="improvements" aria-describedby="basic-addon1" name="post[improvements]">
    </div>
</div>
</div> 